.choose-user-container {
    position: absolute;
    width: min-content;
    box-shadow: 6px 10px 20px 0 rgb(0 0 0 / 50%);
    max-height: 280px;
    overflow-y: auto;
    border-radius: 4px;
    margin-top: 5px;
}

.add-new-user-container {
    position: relative;
    flex: 1;
    align-self: stretch;
}

.add-new-user-input, .add-new-user-input:active {
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    min-width: 50px;
}
