.user-chip-wrapper {
    display: grid;
    grid-template-columns: max-content max-content 20px ;
    grid-column-gap: 10px;
    align-items: center;
    background-color: #d1d5db;
    color: #1f2937;
    border-radius: 15px;
    padding-right: 5px;
}

.user-chip-wrapper:focus {
    outline-color: #2563eb;
}

.user-chip-picture {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.close-icon {
    padding: 2px;
    border-radius: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease-in;
    border-color: transparent;
}

.close-icon:focus {
    outline-color: #2563eb;
}

.close-icon:hover {
    background-color: #9ca3af;
    cursor: pointer;
}
